.place__title {
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    text-align: left;
    width: 460px;
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .place__title {
        max-width: 440px;
    }
}

@media screen and (max-width: 768px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
        max-width: 340px;
    }
}

@media screen and (max-width: 588px) {
    .place__title {
        margin: 0 auto;
        text-align: center;
    }
}

@media screen and (max-width: 320px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;
        max-width: 288px;
        text-align: left;
    }
}