.photo-grid {
    min-height: 671px;
    margin: 92px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        margin: 92px 48px 0 48px;
        gap: 14px;
        min-height: 942px;
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        margin: 92px 24px 0 24px;
        gap: 16px;
        min-height: 1664px;
        max-width: 720px;
    }
}

@media screen and (max-width: 320px) {
    .photo-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 1fr);
        margin: 92px 16px 0 16px;
        gap: 12px;
        min-height: 2724px;
        max-width: 288px;
    }
}

