.place__paragraph {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 40px;
}

@media screen and (max-width: 1024px) {
    .place__paragraph {
        margin: 0 0 0 32px;
    }
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        max-width: 352px;
        margin: 0 0 0 28px;
    }
}

@media screen and (max-width: 588px) {
    .place__paragraph {
        max-width: 90%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 320px) {
    .place__paragraph {
        max-width: 288px;
    }
}