.place {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 80px 0 0 0;
}

.place:first-child {
    margin-top: 92px;
}

.place:last-child {
    margin-bottom: 92px;
}

@media screen and (max-width: 768px) {
    .place {
        margin: 73px 0 0 0;
    }

    .place:first-child {
        margin-top: 88px;
    }

    .place:last-child {
        margin-bottom: 64px;
    }
}

@media screen and (max-width: 320px) {
    .place {
        margin: 50px 0 0 0;
    }

    .place:first-child {
        margin-top: 64px;
    }

    .place:last-child {
        margin-bottom: 41px;
    }
}