.place__website {
    list-style: none;
    padding: 0;
    margin: 0;
    align-self: flex-end;
    margin-left: 40px;
}

@media screen and (max-width: 1024px) {
    .place__website {
        margin: 0 auto 0 32px;
    }
}

@media screen and (max-width: 768px) {
    .place__website {
        margin: 0 auto 0 28px;
    }
}

@media screen and (max-width: 588px) {
    .place__website {
        width: 90%;
        margin: 32px auto 0 auto;
        text-align: center;
    }
}

@media screen and (max-width: 320px) {
    .place__website {
        margin: 32px 0 0 0;
        text-align: left;
    }
}