.cover__item {
    background-image: url(../../../images/cover_image.png);
    min-height: 740px;
    max-width: 1184px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;
}

.cover__item:before {
    content: '';
    background: #2A2C2F;
    opacity: .3;
    width: calc(100%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.cover__item:hover::before {
    opacity: 0.8;
    transition: opacity .3s ease-in-out .3s;
}

@media screen and (max-width: 1024px) {
    .cover__item {
        max-width: 1024px;
        min-height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover__item {
        max-width: 768px;
        min-height: 480px;
    }
}

@media screen and (max-width: 320px) {
    .cover__item {
        max-width: 320px;
        min-height: 200px;
        margin-bottom: 64px;
    }
}